[Unit]
Description=quicksearch webserver
Requires=network.target
After=network.target

[Service]
EnvironmentFile=/etc/quicksearch.conf

Type=simple
ExecStart=/usr/bin/env twistd3 --nodaemon --uid "${QUICKSEARCH_USER}" --gid nogroup --pidfile "${PIDFILE}" web --listen "${QUICKSEARCH_HTTP_LISTEN}" --wsgi quicksearch.app
KillMode=mixed
Restart=always

[Install]
WantedBy=multi-user.target
